/*CSS reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*CSS reset end*/

.logo{
	display:inline;
	vertical-align: middle;
}
.content{
	/*width:1170px;*/
	margin: 0 auto;
	background:radial-gradient(75.49% 75.49% at 61.01% 75.77%, #376A9A 0%, #2B5276 100%);
	vertical-align: middle;
}
.courier{
	/*border-left:1px solid #000000;
	margin-left:50px;
	padding:20px;*/
	display:inline-block;
	position:relative;
	vertical-align: middle;
	margin: 0px 60px;
}

.top{
	min-width:1170px;
	min-height: 60px;
	margin: 0 auto;
	background:radial-gradient(75.49% 75.49% at 61.01% 75.77%, #376A9A 0%, #2B5276 100%);
}
.top__text-color{
	padding: 20px;
	color:#A9CdE0;
}
.header-right{
	padding-right: 20px;
	float:right;
}
.header-left{
	padding-left: 110px;
	float:left;
}
.clear{
	clear:both;
}
.phone{
	display:inline-block;
	margin: 0 30px;
}
.enter{
	text-decoration: none;
	color:#E5E31F;
	border: 1px solid #E5E31F;
	
	border-radius:10px;
	padding:15px 50px;
}

.divider{
	position:absolute;
	width:1px;
	height:14px;
	margin: 0 -15%;
	background:#A9C5E0;
	
}

/*header is norm. end*/

.devilery{
	position: absolute;
	left: 135px;
	top: 600px;
	text-decoration: none;
	color: #2A4F71;
	background: #E5E31F;
	border-radius:10px;
	padding:10px 70px;
}
.block-for-slider {
	margin: 0 auto;
}
.viewport {
	width: 100%;
	display: table;
	position: relative;
	overflow: hidden;
}
.slidewrapper {
	position: relative;
	width: calc(100% * 4);
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.slidewrapper ul, .slidewrapper li {
	margin: 0;
	padding: 0;
}
.slidewrapper li {
	width: calc(100%/4);
	list-style: none;
	display: inline;
	float: left;
}
.slide-img {
	position: relative;
	left: 795px;
}
.first-info-slider {
	position: relative;
	width: 660px;
	height: 128px;
	left: 135px;
	top: 262px;
	font-weight: bold;
	font-size: 64px;
	color: #FFFFFF;
	font-family: Proxima Nova;
}
.second-info-slider {
	position: relative;
	width: 660px;
	height: 48px;
	left: 135px;
	top: 300px;
	font-size: 16px;
	color: #FFFFFF;
	font-family: Proxima Nova;
}
.info-slider {
	font-family: Proxima Nova;
	color: #FFFFFF;
}

#nav-btns {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border-radius: 10%;
    margin: 3px;
}

.slide-nav-btn:hover {
    cursor: pointer;
}